services:

  whisper-api:
    build: .
    container_name: whisper-api
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    environment:
      - OLLAMA_URL=http://ollama:11434/api/generate
    volumes:
      - whisper_models:/root/.cache
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    entrypoint: >
      sh -c "
      ollama serve &
      sleep 5 &&
      ollama pull llama3.1:latest &&
      wait
      "
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped

volumes:
  whisper_models:
  ollama_models: